@import "variables_all";
@import "laxar_uikit/optional/jquery_ui";
@import "laxar_uikit/optional/jquery_ui_bootstrap";

// Input Field + Button
$ui-datepicker-input-width: 100px !default;
$ui-datepicker-input-border-radius: $ax-base-border-radius !default;

// Calendar Layer
$ui-datepicker-layer-zindex: $zindex-popover;
$ui-datepicker-font-family: $font-family-base !default;

$ui-datepicker-grid-columns: 3;
$ui-datepicker-width: ((($ax-grid-column-width) * $ui-datepicker-grid-columns) + ($ax-grid-gutter-width * ($ui-datepicker-grid-columns - 1))) !default;
$ui-datepicker-padding: 0 !default;
$ui-datepicker-border-radius: $ax-base-border-radius !default;
$ui-datepicker-border-width: $ax-base-border-width !default;

$ui-datepicker-title-line-height: $line-height-computed !default;
$ui-datepicker-title-select-font-size: $font-size-base !default;
$ui-datepicker-title-select-margin-vertical: 1px !default;
$ui-datepicker-title-button-color: $text-color !default;

$ui-datepicker-content-border: $ax-popup-border-width solid $modal-content-fallback-border-color !default;
$ui-datepicker-content-background: white !default;
$ui-datepicker-content-font-color: $text-color !default;

$ui-datepicker-table-width: $ui-datepicker-width - 2*$ax-unit-horizontal !default;
$ui-datepicker-table-margin: 0 $ax-unit-horizontal $ax-unit-vertical $ax-unit-horizontal !default;

$ui-datepicker-table-title-cell-padding: $ax-unit-vertical ( $ax-unit-horizontal / 4 ) !default;
$ui-datepicker-table-title-cell-text-align: right !default;
$ui-datepicker-table-title-cell-font-weight: bold !default;
$ui-datepicker-table-font-size: $font-size-base !default;
$ui-datepicker-table-cell-padding: 1px !default;
$ui-datepicker-table-cell-content-padding: $ax-unit-vertical-half ( $ax-unit-horizontal / 4 ) ($ax-unit-vertical - 1px + $ax-unit-vertical-half) ($ax-unit-horizontal - ( $ax-unit-horizontal / 4 )) !default;

$ui-datepicker-day-border: none !default;
$ui-datepicker-day-background: $ax-gray-lighter !default;
$ui-datepicker-day-background-weekend:  $ax-gray-light!default;

$ui-datepicker-day-font-weight: bold !default;
$ui-datepicker-day-font-color: $text-color !default;

$ui-datepicker-day-border-hover: none !default;
$ui-datepicker-day-background-hover: $ax-gray-lightest !default;
$ui-datepicker-day-font-weight-hover: bold !default;
$ui-datepicker-day-font-color-hover: $link-hover-color !default;

$ui-datepicker-day-background-highlight: darken($ax-gray-light, 15%) !default;
$ui-datepicker-day-font-color-highlight: white !default;

$ui-datepicker-day-border-active: none !default;
$ui-datepicker-day-background-active: $ax-blue !default;
$ui-datepicker-day-font-weight-active: bold !default;
$ui-datepicker-day-font-color-active: white !default;

$ui-datepicker-header-title-width: 188px !default;
$ui-datepicker-header-title-button-width: 35px !default;
$ui-datepicker-header-title-button-prev-icon: $fa-var-chevron-left !default;
$ui-datepicker-header-title-button-next-icon: $fa-var-chevron-right !default;
$ui-datepicker-header-title-border-width: 1px !default;
$ui-datepicker-header-title-border: $ui-datepicker-header-title-border-width solid $ax-base-border-color !default;
$ui-datepicker-header-border: none !default;
$ui-datepicker-header-background: transparent !default;
$ui-datepicker-header-font-color: $text-color !default;
$ui-datepicker-header-font-weight: bold !default;

$ui-datepicker-footer-border: none !default;
$ui-datepicker-footer-border-top: 1px solid $ax-base-border-color !default;
$ui-datepicker-footer-background: $ax-gray-lighter !default;
$ui-datepicker-footer-button-alignment: right !default;

//
// Date Picker: Input Field and Button
// -----------------------------------------------------------------------------------------------------------
.ax-date-picker {

   &.input-group {

      display: inline-block;
      margin-bottom: $ax-unit-vertical;

      input {
         // 10 for the date, plus 2 for the button
         width: $ui-datepicker-input-width !important;
      }

      .form-control.ax-error + button {
         border-color: $ax-state-error-border-color !important;
      }

      .ui-datepicker-trigger {
         border-radius: 0 $border-radius-base $border-radius-base 0;
         border-left-width: 0;

         line-height: $line-height-computed;

         &:after {
            @include ax-set-icon( $fa-var-calendar );
         }
      }
   }
}

//
// Date Picker: Calendar Layer
// -----------------------------------------------------------------------------------------------------------

.ui-datepicker {
   //@extend %popover;
   // "!important" because jQuery sets the z-index using the style property.
   z-index: $ui-datepicker-layer-zindex !important;
   width: $ui-datepicker-width;
   padding: $ui-datepicker-padding;

   font-family: $ui-datepicker-font-family;
   font-size: $font-size-base;

   display: none;

   &.ui-widget-content {
      border: $ui-datepicker-content-border;
      background: $ui-datepicker-content-background;
      color: $ui-datepicker-content-font-color;
      a {
         color:$ui-datepicker-content-font-color;
      }
   }

   .ui-widget-header {
      border: $ui-datepicker-header-border;
      background: $ui-datepicker-header-background;
      color: $ui-datepicker-header-font-color;
      font-weight: $ui-datepicker-header-font-weight;
      a {
         color: $ui-datepicker-header-font-color;
      }
   }

   .ui-datepicker-buttonpane {
      background: $ui-datepicker-footer-background;
      padding: $ax-unit-vertical $ax-unit-horizontal;
      border: $ui-datepicker-footer-border;
      border-top: $ui-datepicker-footer-border-top;
      border-radius: $ui-datepicker-border-radius;
      text-align: $ui-datepicker-footer-button-alignment;
   }

   button,
   .ui-datepicker-prev,
   .ui-datepicker-next {
      //@extend %btn;
      //@extend %btn-default;
      line-height: $line-height-computed;
   }

   .ui-datepicker-current {
      float: left;
   }

   .ui-datepicker-header {
      position: relative;
      margin-top: -$ui-datepicker-padding;
      padding: $ax-unit-vertical $ax-unit-horizontal;
   }

   .ui-datepicker-prev,
   .ui-datepicker-next {
      width: $ui-datepicker-header-title-button-width;
   }

   .ui-datepicker-prev {
      float: left;
      border-radius: $border-radius-base 0 0 $border-radius-base;
   }
   .ui-datepicker-next {
      float: right;
      border-radius: 0 $border-radius-base $border-radius-base 0;
   }

   .ui-datepicker-prev:after {
      @include ax-set-icon( $ui-datepicker-header-title-button-prev-icon );
   }

   .ui-datepicker-next:after {
      @include ax-set-icon( $ui-datepicker-header-title-button-next-icon );

   }

   .ui-datepicker-title {
      line-height: $ui-datepicker-title-line-height;
      text-align: center;
      position: absolute;
      left: $ui-datepicker-header-title-button-width + $ax-unit-horizontal - $ui-datepicker-header-title-border-width;

      @include ax-disable-focus-style;
   }

   select {
      // -webkit-appearance: none;
   }

   .ui-datepicker-month,
   .ui-datepicker-year,
   .ui-datepicker-month-year {
      //@extend %form-control;
      // border: $ui-datepicker-header-title-border;
      // line-height: $line-height-computed;
      float: left;
      // border-left-width: 0;
      border-radius: 0;
   }

   .ui-datepicker-month-year {
      width: $ui-datepicker-header-title-width;
      // border-right-width: 0;
   }

   .ui-datepicker-month,
   .ui-datepicker-year {
      width: floor($ui-datepicker-header-title-width / 2) + $ui-datepicker-header-title-border-width * 2 ;
      position: relative;

      &:focus {
         z-index: 1;
      }
   }

   .ui-datepicker-year {
      left: -$ui-datepicker-header-title-border-width;
   }

   span.ui-datepicker-month {
      border-right-width: 0;
      padding-right: 3px;
      text-align: right;
   }
   span.ui-datepicker-year {
      padding-left: 3px;
      text-align: left;
      border-left-width: 0;
   }

   //.ui-datepicker-close {
   //   @extend %btn-primary;
   //}

   table {
      width: $ui-datepicker-table-width;
      font-size: $ui-datepicker-table-font-size;
      margin: $ui-datepicker-table-margin;
   }

   th {
      padding: $ui-datepicker-table-title-cell-padding;
      text-align: $ui-datepicker-table-title-cell-text-align;
      font-weight: $ui-datepicker-table-title-cell-font-weight;
      border: 0;
   }

   td {
      border: 0;
      padding: $ui-datepicker-table-cell-padding;

      span,
      a {
         display: block;
         padding: $ui-datepicker-table-cell-content-padding;
         text-align: right;
         text-decoration: none;
      }

      .ui-state-default {
         color: $ui-datepicker-day-font-color;
         background: $ui-datepicker-day-background;
         text-decoration: none;
      }

      .ui-state-highlight {
         background: $ui-datepicker-day-background-highlight;
         color: $ui-datepicker-day-font-color-highlight;
         font-weight: bold;
      }

      .ui-state-active {
         border: $ui-datepicker-day-border-active;
         background: $ui-datepicker-day-background-active;
         font-weight: $ui-datepicker-day-font-weight-hover;
         color: $ui-datepicker-day-font-color-active;
      }

      .ui-state-default:hover,
      .ui-state-active:hover {
         color: $ui-datepicker-day-font-color-hover;
         background: $ui-datepicker-day-background-hover;
         outline: 1px solid $ui-datepicker-day-font-color-hover;
         text-decoration: none;
      }

      &.ui-datepicker-week-end {
         .ui-state-default {
            background: $ui-datepicker-day-background-weekend;
         }
         .ui-state-highlight {
            background: $ui-datepicker-day-background-highlight;
         }
         .ui-state-active {
            background: $ui-datepicker-day-background-active;
         }
         .ui-state-hover {
            background: $ui-datepicker-day-background-hover;
         }
      }
   }
}


/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi-2 {
   width: 2 * $ui-datepicker-width;
}
.ui-datepicker.ui-datepicker-multi-3 {
   width: 3 * $ui-datepicker-width;
}
.ui-datepicker.ui-datepicker-multi-4 {
   width: 4 * $ui-datepicker-width;
}


.ui-datepicker-multi .ui-datepicker-group {
   float: left;

   .ui-datepicker-group table {
      margin: 0 10*$ax-unit-horizontal $ax-unit-vertical;
   }

   .ui-datepicker-group-last .ui-datepicker-header,
   .ui-datepicker-group-middle .ui-datepicker-header {
      border-left-width: 0;
   }

   .ui-datepicker-buttonpane {
      clear: left;
   }

}
.ui-datepicker-multi-2 .ui-datepicker-group {
   width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
   width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
   width: 25%;
}

.ui-datepicker-row-break {
   clear: both;
   width: 100%;
   font-size: 0;
}


/* RTL support */
.ui-datepicker-rtl {
   direction: rtl;

   .ui-datepicker-prev {
      right: $ui-datepicker-padding;
      left: auto;
   }

   .ui-datepicker-next {
      left: $ui-datepicker-padding;
      right: auto;
   }

   .ui-datepicker-buttonpane {
      clear: right;
   }

   .ui-datepicker-buttonpane button {
      float: left;
   }

   .ui-datepicker-buttonpane button.ui-datepicker-current,
   .ui-datepicker-group {
      float: right;
   }

   .ui-datepicker-group-last .ui-datepicker-header,
   .ui-datepicker-group-middle .ui-datepicker-header {
      border-right-width: 0;
      border-left-width: $ui-datepicker-border-width;
   }
}

.ui-datepicker {
   .ui-icon {
      display: none;
   }
}
