.ax-date-picker.input-group .ui-datepicker-trigger:after,
.ui-datepicker .ui-datepicker-prev:after,
.ui-datepicker .ui-datepicker-next:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-helper-hidden {
  display: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: " ";
  display: table;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  -webkit-filter: Alpha(Opacity=0);
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 20;
}

.ui-state-disabled {
  cursor: default !important;
}

/* Overlays */

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ax-date-picker.input-group {
  display: inline-block;
  margin-bottom: 10px;
}

.ax-date-picker.input-group input {
  width: 100px !important;
}

.ax-date-picker.input-group .form-control.ax-error + button {
  border-color: #de182c !important;
}

.ax-date-picker.input-group .ui-datepicker-trigger {
  border-radius: 0 4px 4px 0;
  border-left-width: 0;
  line-height: 20px;
}

.ax-date-picker.input-group .ui-datepicker-trigger:after {
  content: "\f073";
}

.ui-datepicker {
  z-index: 60 !important;
  width: 286px;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: none;
}

.ui-datepicker.ui-widget-content {
  border: 1px solid #999999;
  background: white;
  color: #333333;
}

.ui-datepicker.ui-widget-content a {
  color: #333333;
}

.ui-datepicker .ui-widget-header {
  border: none;
  background: transparent;
  color: #333333;
  font-weight: bold;
}

.ui-datepicker .ui-widget-header a {
  color: #333333;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background: #eeeeee;
  padding: 10px 13px;
  border: none;
  border-top: 1px solid #dddddd;
  border-radius: 4px;
  text-align: right;
}

.ui-datepicker button,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  line-height: 20px;
}

.ui-datepicker .ui-datepicker-current {
  float: left;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  margin-top: 0;
  padding: 10px 13px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  width: 35px;
}

.ui-datepicker .ui-datepicker-prev {
  float: left;
  border-radius: 4px 0 0 4px;
}

.ui-datepicker .ui-datepicker-next {
  float: right;
  border-radius: 0 4px 4px 0;
}

.ui-datepicker .ui-datepicker-prev:after {
  content: "\f053";
}

.ui-datepicker .ui-datepicker-next:after {
  content: "\f054";
}

.ui-datepicker .ui-datepicker-title {
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 47px;
}

.ui-datepicker .ui-datepicker-title a,
.ui-datepicker .ui-datepicker-title a i,
.ui-datepicker .ui-datepicker-title a i:after,
.ui-datepicker .ui-datepicker-title a:focus,
.ui-datepicker .ui-datepicker-title a:active,
.ui-datepicker .ui-datepicker-title a:focus i,
.ui-datepicker .ui-datepicker-title a:active i {
  outline: none;
  border: none;
  box-shadow: none;
}

.ui-datepicker .ui-datepicker-month,
.ui-datepicker .ui-datepicker-year,
.ui-datepicker .ui-datepicker-month-year {
  float: left;
  border-radius: 0;
}

.ui-datepicker .ui-datepicker-month-year {
  width: 188px;
}

.ui-datepicker .ui-datepicker-month,
.ui-datepicker .ui-datepicker-year {
  width: 96px;
  position: relative;
}

.ui-datepicker .ui-datepicker-month:focus,
.ui-datepicker .ui-datepicker-year:focus {
  z-index: 1;
}

.ui-datepicker .ui-datepicker-year {
  left: -1px;
}

.ui-datepicker span.ui-datepicker-month {
  border-right-width: 0;
  padding-right: 3px;
  text-align: right;
}

.ui-datepicker span.ui-datepicker-year {
  padding-left: 3px;
  text-align: left;
  border-left-width: 0;
}

.ui-datepicker table {
  width: 260px;
  font-size: 14px;
  margin: 0 13px 10px 13px;
}

.ui-datepicker th {
  padding: 10px 3.25px;
  text-align: right;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 5px 3.25px 14px 9.75px;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker td .ui-state-default {
  color: #333333;
  background: #eeeeee;
  text-decoration: none;
}

.ui-datepicker td .ui-state-highlight {
  background: #b7b7b7;
  color: white;
  font-weight: bold;
}

.ui-datepicker td .ui-state-active {
  border: none;
  background: #428bca;
  font-weight: bold;
  color: white;
}

.ui-datepicker td .ui-state-default:hover,
.ui-datepicker td .ui-state-active:hover {
  color: #2a6496;
  background: whitesmoke;
  outline: 1px solid #2a6496;
  text-decoration: none;
}

.ui-datepicker td.ui-datepicker-week-end .ui-state-default {
  background: #dddddd;
}

.ui-datepicker td.ui-datepicker-week-end .ui-state-highlight {
  background: #b7b7b7;
}

.ui-datepicker td.ui-datepicker-week-end .ui-state-active {
  background: #428bca;
}

.ui-datepicker td.ui-datepicker-week-end .ui-state-hover {
  background: whitesmoke;
}

/* with multiple calendars */

.ui-datepicker.ui-datepicker-multi-2 {
  width: 572px;
}

.ui-datepicker.ui-datepicker-multi-3 {
  width: 858px;
}

.ui-datepicker.ui-datepicker-multi-4 {
  width: 1144px;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-group table {
  margin: 0 130px 10px;
}

.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */

.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 0;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 0;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-datepicker .ui-icon {
  display: none;
}