.ui-helper-hidden {
  display: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: " ";
  display: table;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  -webkit-filter: Alpha(Opacity=0);
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 20;
}

.ui-state-disabled {
  cursor: default !important;
}

/* Overlays */

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-slider .ui-slider-handle {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-slider .ui-slider-handle:focus,
.ui-slider .ui-slider-handle:active:focus,
.ui-slider .active.ui-slider-handle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus {
  color: #333333;
  text-decoration: none;
}

.ui-slider .ui-slider-handle:active,
.ui-slider .active.ui-slider-handle {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ui-slider .disabled.ui-slider-handle,
.ui-slider [disabled].ui-slider-handle,
fieldset[disabled] .ui-slider .ui-slider-handle,
.ui-slider fieldset[disabled] .ui-slider-handle {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  -webkit-filter: alpha(opacity=65);
  filter: alpha(opacity=65);
  box-shadow: none;
}

.ui-slider .ui-slider-handle {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus,
.ui-slider .ui-slider-handle:active,
.ui-slider .active.ui-slider-handle {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.open .ui-slider .dropdown-toggle.ui-slider-handle,
.ui-slider .open .dropdown-toggle.ui-slider-handle {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.ui-slider .ui-slider-handle:active,
.ui-slider .active.ui-slider-handle {
  background-image: none;
}

.open .ui-slider .dropdown-toggle.ui-slider-handle,
.ui-slider .open .dropdown-toggle.ui-slider-handle {
  background-image: none;
}

.ui-slider .disabled.ui-slider-handle,
.ui-slider .disabled.ui-slider-handle:hover,
.ui-slider .disabled.ui-slider-handle:focus,
.ui-slider .disabled.ui-slider-handle:active,
.ui-slider .disabled.active.ui-slider-handle,
.ui-slider [disabled].ui-slider-handle,
.ui-slider [disabled].ui-slider-handle:hover,
.ui-slider [disabled].ui-slider-handle:focus,
.ui-slider [disabled].ui-slider-handle:active,
.ui-slider [disabled].active.ui-slider-handle,
fieldset[disabled] .ui-slider .ui-slider-handle,
.ui-slider fieldset[disabled] .ui-slider-handle,
fieldset[disabled] .ui-slider .ui-slider-handle:hover,
.ui-slider fieldset[disabled] .ui-slider-handle:hover,
fieldset[disabled] .ui-slider .ui-slider-handle:focus,
.ui-slider fieldset[disabled] .ui-slider-handle:focus,
fieldset[disabled] .ui-slider .ui-slider-handle:active,
.ui-slider fieldset[disabled] .ui-slider-handle:active,
fieldset[disabled] .ui-slider .active.ui-slider-handle,
.ui-slider fieldset[disabled] .active.ui-slider-handle {
  background-color: white;
  border-color: #cccccc;
}

.ui-slider .ui-slider-handle .badge {
  color: white;
  background-color: #333333;
}

.ui-slider {
  position: relative;
  text-align: left;
  border: 1px solid #cccccc;
  background: #dddddd;
  /* For IE8 - See #6727 */
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  background: #428bca;
}

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  -webkit-filter: inherit;
  filter: inherit;
}

.ui-slider-horizontal {
  height: 6px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  margin-left: -8px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: 6px;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -8px;
  margin-left: 0;
  margin-bottom: -5px;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}