
[data-ax-json-form] > span {
   color: indianred;
   display: none;
}

[data-ax-json-form] input {
   width: 100%;
   margin: 0;
}

[data-ax-json-form] textarea {
   resize: both;
   width: 100%;
   margin: 0;
}

[data-ax-json-form] table {
   width: 100%;
}


[data-ax-json-form-number],
[data-ax-json-form-string] {
   position: relative;
}

[data-ax-json-form] [data-ax-warning-icon] {
   color: indianred;
   position: absolute;
   right: 25px;
   top: 10px;
}

[data-ax-json-form] button + [data-ax-warning-icon] {
   margin-left: 0px;
}

[data-ax-json-form] select ~ [data-ax-warning-icon] {
   margin-left: -40px;
}

[data-ax-json-form] :focus ~ [data-ax-warning-icon]:not(:hover) {
   opacity: 0.5;
}

[data-ax-json-form] table {
   border-collapse: collapse;
}

.ax-object-key, .ax-object-value {
   vertical-align: top;
}

[data-ax-json-form-array] > ul {
   margin: 0;
   list-style: none;
}

[data-ax-json-form-array] > ul > li {
   clear: both;
}

[data-ax-json-form-array] > ul > li > span:first-child {
   float: left;
   margin-top: 5px;
}

[data-ax-json-form-array] > ul > li > *:nth-child(2) {
   margin: 4px;
   float:left;
}

[data-ax-json-form-array] > ul > li > button {
   float: right;
   margin-top: 5px;
}

[data-ax-json-form-object] > tbody > tr > td {
   padding: 4px;
   border: 1px solid #b1b1b1;
   background-color: #eeeeee;
}

[data-ax-json-form-object] > tbody > tr > td:nth-child(1):not([colspan]) {
   padding: 6px;
   border-right: none;
}

[data-ax-json-form-object] > tbody > tr > td:nth-child(2) {
   border-left: none;
}

[data-ax-json-form-string] > textarea {
   display: inline-block;
}
