@import "variables_all";
@import "laxar_uikit/optional/jquery_ui";
@import "laxar_uikit/optional/jquery_ui_bootstrap";

// Should the slider buttons look like the default ones?
$ui-slider-extend-default-button: true !default;

$ui-slider-horizontal-height: 6px !default;
$ui-slider-vertical-height: 100px !default;
$ui-slider-vertical-width: 6px !default;

$ui-slider-handle-height: 15px !default;
$ui-slider-handle-width: 15px !default;

$ui-slider-handle-horizontal-top: round(($ui-slider-handle-height - $ui-slider-horizontal-height) / 2) !default;
$ui-slider-handle-horizontal-margin-left: round($ui-slider-handle-width / 2) !default;

$ui-slider-handle-vertical-margin-bottom: round(($ui-slider-handle-height - $ui-slider-horizontal-height) / 2) !default;
$ui-slider-handle-vertical-left: round($ui-slider-handle-width / 2) !default;


$ui-slider-border-width: $ax-base-border-width !default;
$ui-slider-border-style: $ax-base-border-style !default;
$ui-slider-border-color: $ax-gray !default;

$ui-slider-border: $ui-slider-border-width $ui-slider-border-style $ui-slider-border-color !default;

$ui-slider-background: $ax-gray-light !default;
$ui-slider-range-background: $ax-blue !default;

.ui-slider {
   position: relative;
   text-align: left;

   border: $ui-slider-border;
   background: $ui-slider-background;

   .ui-slider-handle {

      // Should the slider buttons look like the default ones?
      @if $ui-slider-extend-default-button {
         @extend %btn;
         @extend %btn-default;
      }

      position: absolute;
      z-index: 2;
      height:  $ui-slider-handle-height;
      width: $ui-slider-handle-width;
      cursor: pointer;
   }

   .ui-slider-range {
      position: absolute;
      z-index: 1;
      font-size: .7em;
      display: block;
      border: 0;
      background-position: 0 0;
      background: $ui-slider-range-background;
   }

   /* For IE8 - See #6727 */
   &.ui-state-disabled .ui-slider-handle,
   &.ui-state-disabled .ui-slider-range {
      filter: inherit;
   }
}

.ui-slider-horizontal {
   height: $ui-slider-horizontal-height;

   .ui-slider-handle {
      top: -$ui-slider-handle-horizontal-top;
      margin-left: -$ui-slider-handle-horizontal-margin-left;
   }
   .ui-slider-range {
      top: 0;
      height: 100%;
   }
   .ui-slider-range-min {
      left: 0;
   }
   .ui-slider-range-max {
      right: 0;
   }
}

.ui-slider-vertical {
   width: $ui-slider-vertical-width;
   height: $ui-slider-vertical-height;

   .ui-slider-handle {
      left: -$ui-slider-handle-vertical-left;
      margin-left: 0;
      margin-bottom: -$ui-slider-handle-vertical-margin-bottom;
   }
   .ui-slider-range {
      left: 0;
      width: 100%;
   }
   .ui-slider-range-min {
      bottom: 0;
   }
   .ui-slider-range-max {
      top: 0;
   }
}
