// ---------------------------------------------------- \\
//       Tables
// ---------------------------------------------------- \\


//  Reset Style
// -------

table {
   max-width: 100%;
   border-spacing: 0;
}

th,
td {
   &.ax-amount {
      text-align: right;
   }
}


//  Base Style
// ------

.table {

   width: 100%;
   margin-bottom: $line-height-computed;

   border: 1px solid $ax-table-border-color;
   border-radius: $ax-table-border-radius;
   border-collapse: $ax-table-border-collapse;

   .ax-expander {
      float: left;
      padding: 0;

      color:  $ax-table-expander-color;
      width:  $ax-table-expander-width;
      height:  $ax-table-expander-height;
      line-height: 1;
      margin: $ax-table-expander-margin;
      cursor: pointer;

      .ax-collapsed:after { @include ax-set-icon($ax-table-icon-collapsed); }
      .ax-expanded:after  { @include ax-set-icon($ax-table-icon-expanded); }
   }

   .ax-amount {
      text-align: right;
   }

   > thead > tr {

      > th {

         color: $ax-thead-color;
         background-color: $ax-thead-background;

         font-size:   $ax-thead-font-size;
         font-weight: $ax-thead-font-weight;
         font-family: $ax-thead-font-family;
         line-height: $ax-thead-line-height;

         text-align: left;
         vertical-align: top;

         padding-top   : $ax-thead-padding-top;
         padding-right : $ax-thead-padding-right;
         padding-bottom: $ax-thead-padding-bottom;
         padding-left  : $ax-thead-padding-left;

         border-top-width: $ax-thead-border-top-width;
         border-top-style: $ax-thead-border-top-style;
         border-top-color: $ax-thead-border-top-color;

         border-left-width: $ax-thead-border-left-width;
         border-left-style: $ax-thead-border-left-style;
         border-left-color: $ax-thead-border-left-color;

         &:first-child {
            border-left-width: $ax-thead-first-child-border-left-width;
         }
      }

      &:first-child > th {
         border-top-width: $ax-thead-first-child-border-top-width;

         &:first-child {
            border-radius: ($ax-table-border-radius - $ax-table-border-width) 0 0 0;
         }
         &:last-child {
            border-radius: 0 ($ax-table-border-radius - $ax-table-border-width) 0 0;
         }
      }
   }

   > tbody > tr {

      > td {
         color: $ax-tbody-color;
         background-color: $ax-tbody-background;

         font-size:   $ax-tbody-font-size;
         font-weight: $ax-tbody-font-weight;
         font-family: $ax-tbody-font-family;
         line-height: $ax-tbody-line-height;

         text-align: left;
         vertical-align: top;

         padding-top   : $ax-tbody-padding-top;
         padding-right : $ax-tbody-padding-right;
         padding-bottom: $ax-tbody-padding-bottom;
         padding-left  : $ax-tbody-padding-left;

         border-top-width: $ax-tbody-border-top-width;
         border-top-style: $ax-tbody-border-top-style;
         border-top-color: $ax-tbody-border-top-color;

         border-left-width: $ax-tbody-border-left-width;
         border-left-style: $ax-tbody-border-left-style;
         border-left-color: $ax-tbody-border-left-color;

         &:first-child {
            border-left-width: $ax-tbody-first-child-border-left-width;
         }
      }

      &:first-child > td {
         border-top-width: $ax-tbody-first-child-border-top-width;
      }

      // Special Row Styles
      // ---------

      &.odd > td {
         color: $ax-tbody-odd-color;
         background-color: $ax-tbody-odd-background;
      }

      &.even > td {
         color: $ax-tbody-even-color;
         background-color: $ax-tbody-even-background;
      }

      &.ax-readonly > td {
         color: $ax-tbody-readonly-color;
         background-color: $ax-tbody-readonly-background;
      }

      &.info > td {
         color: $ax-tbody-info-color;
         background-color: $ax-tbody-info-background;
      }

      &.success > td {
         color: $ax-tbody-success-color;
         background-color: $ax-tbody-success-background;
      }

      &.warning > td {
         color: $ax-tbody-warning-color;
         background-color: $ax-tbody-warning-background;
      }

      &.danger > td,
      &.ax-error > td {
         color: $ax-tbody-error-color;
         background-color: $ax-tbody-error-background;
      }


      //
      // Hierarchy classes
      // -----------------------------------------------------------------------------------------------------------

      &.ax-level-0 {
         > td {
            color: $ax-tbody-level-0-color;
            background-color: $ax-tbody-level-0-background;

            border-top-width: $ax-tbody-level-0-border-top-width;
            border-top-style: $ax-tbody-level-0-border-top-style;
            border-top-color: $ax-tbody-level-0-border-top-color;
         }

         &:first-child > td {
            border-top-width: $ax-tbody-level-0-first-child-border-top-width;
         }
      }

      &.ax-level-1 {
         > td {
            color: $ax-tbody-level-1-color;
            background-color: $ax-tbody-level-1-background;

            border-top-width: $ax-tbody-level-1-border-top-width;
            border-top-style: $ax-tbody-level-1-border-top-style;
            border-top-color: $ax-tbody-level-1-border-top-color;
         }

         &:first-child > td {
            border-top-width: $ax-tbody-level-1-first-child-border-top-width;
         }
      }

      &.ax-level-2 {
         > td {
            color: $ax-tbody-level-2-color;
            background-color: $ax-tbody-level-2-background;

            border-top-width: $ax-tbody-level-2-border-top-width;
            border-top-style: $ax-tbody-level-2-border-top-style;
            border-top-color: $ax-tbody-level-2-border-top-color;
         }

         &:first-child > td {
            border-top-width: $ax-tbody-level-2-first-child-border-top-width;
         }
      }
   }

   > tfoot > tr {

      > td {

         color: $ax-tfoot-color;
         background-color: $ax-tfoot-background;

         font-size:   $ax-tfoot-font-size;
         font-weight: $ax-tfoot-font-weight;
         font-family: $ax-tfoot-font-family;
         line-height: $ax-tfoot-line-height;

         text-align: left;
         vertical-align: top;

         padding-top   : $ax-tfoot-padding-top;
         padding-right : $ax-tfoot-padding-right;
         padding-bottom: $ax-tfoot-padding-bottom;
         padding-left  : $ax-tfoot-padding-left;

         border-top-width: $ax-tfoot-border-top-width;
         border-top-style: $ax-tfoot-border-top-style;
         border-top-color: $ax-tfoot-border-top-color;

         border-left-width: $ax-tfoot-border-left-width;
         border-left-style: $ax-tfoot-border-left-style;
         border-left-color: $ax-tfoot-border-left-color;

         &:first-child {
            border-left-width: $ax-tfoot-first-child-border-left-width;
         }
      }

      > :last-child > tr:last-child > td {

         &:first-child {
            border-radius: 0 0 0 ($ax-table-border-radius - $ax-table-border-width);
         }
         &:last-child {
            border-radius: 0 0 ($ax-table-border-radius - $ax-table-border-width) 0;
         }
      }
   }

   > thead > tr > th,
   > tbody > tr > td,
   > tfoot > tr > td {
      &:first-child {
         padding-left: $ax-unit-horizontal - $ax-table-border-width;
      }
      &.last,
      &:last-child {
         padding-right: $ax-unit-horizontal - $ax-table-border-width;
      }
   }

   select,
   textarea,
   input[type="text"],
   input[type="password"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="week"],
   input[type="number"],
   input[type="email"],
   input[type="url"],
   input[type="search"],
   input[type="tel"],
   input[type="color"],
   .btn {
      margin-top: $ax-table-input-offset-top;
      margin-bottom: $ax-table-input-offset-bottom;
   }

   input[readonly] {
      color: $ax-tbody-color;

      font-size: $ax-tbody-font-size;
      font-weight: $ax-tbody-font-weight;
      font-family: $ax-tbody-font-family;
      border-color: transparent;
      background-color: transparent;
   }

   tfoot input[readonly] {
      color: $ax-tfoot-color;
      font-size: $ax-tfoot-font-size;
      font-weight: $ax-tfoot-font-weight;
      font-family: $ax-tfoot-font-family;
      line-height: $ax-tfoot-line-height;
   }

   // input[type=checkbox],
   // input[type=radio] {
   //    vertical-align: top;
   // }
}
